{% extends 'layout.html.twig' %}

{% block img %}
<div class="img"
     style="background-image: url('https://www.10wallpaper.com/wallpaper/1920x1080/1606/Internet_Business_Technology_HD_Wallpaper_12_1920x1080.jpg');
            height: 100vh">
</div>
{% endblock %}
