{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Hello Wilder !</h1>

    <form method="get" action="/test">
        <label for="url">Ecological impact of your web site</label>
        <input name="url" id="url">

    </form>
{% endblock %}
